html {
    scroll-behavior: smooth;
}

body, div, article, span, h1, h2, h3, ul, ol, p {
    margin: 0;
    padding: 0;
    border: 0;
}

article, div, aside, figure, footer, header, main, nav, section {
    display: block;
}
a:visited, a {
    text-decoration: none;
    color: black;
}

/* General Elements*/

.widgit {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

/* Navigation Bar*/

nav {
    width: 100%;
    background-color: black;
    padding: 0.75rem 0;
}

.navigation-box {
    width: 75%;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    color: cornsilk;
    list-style: none;
}

.nav-list-item > a:visited, .nav-list-item > a{
    color: cornsilk;
    text-decoration: none;
}

/* Main Header */

.lable {
    float: left;
}

.main-logo {
    font-size: 5rem;
    font-family: fantasy;
}

.logo-header::after {
    content: '';
    display: block;
    clear: both;
}

.header-widgit {
    float: right;
    width: 700px;
}

/* Content */

.body-box, .logo-header {
    width: 75%;
    margin: 2rem auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-box {
    width: 75%;
    font-size: 1rem;
}

.main-heading {
    margin: 0 0;
    font-size: 2.5rem;
}

.article-content{
    margin: 3rem 0;
}

.content-list-box {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-top: 0.4rem solid orange;
    border-bottom: 0.1rem solid orange;
    border-left: 0.1rem solid orange;
    border-right: 0.1rem solid orange;
    border-radius: 10px;
}

/* Aside Box */

.aside-box {
    width: 20%;
}

.aside-list > ul {
    list-style: none;
}

.aside-list > ul > li {
    padding: 5px 0;
    border-bottom: 0.1rem solid black;
}

.aside-widgit {
    width: 100%;
    margin: 2rem 0 1rem;
}

/* Footer */

.footer-main {
    width: 100%;
    margin: 0 auto 1rem;
}

.footer-column {
    display: flex;
    justify-content: space-evenly;
}

.top {
    width: 2rem;
    display: block;
    margin: 1rem auto 0;
}