html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    line-height: 1.625;
    background-color: #f0f0f0;
}

p, li, span {
    font-family: domine, serif;
}

body, div, article, span, h1, h2, h3, ul, ol, p {
    margin: 0;
    padding: 0;
    border: 0;
}

article, div, aside, figure, footer, header, main, nav, section, img {
    display: block;
}
a:visited, a {
    text-decoration: none;
    color: black;
}

strong {
    font-size: 1.3em;
    padding: 0 0.3rem 0 0;
}

/* General Elements*/

.widgit {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.pdf-view {
    width: 100%;
    height: 80vh;
}

/* Navigation Bar*/

nav {
    width: 100%;
    background-color: black;
    padding: 0.75rem 0;
}

.navigation-box {
    width: 75%;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    color: cornsilk;
    list-style: none;
}

.nav-list-item > a:visited, .nav-list-item > a{
    color: cornsilk;
    text-decoration: none;
}

.nav-list-item > a:hover {
    text-decoration: underline;
}

/* Main Header */

.lable {
    float: left;
}

.main-logo {
    font-size: 5rem;
    font-family: fantasy;
}

.logo-header::after {
    content: '';
    display: block;
    clear: both;
}

.header-widgit {
    float: right;
    width: 700px;
}

/* Content */

.body-box, .logo-header {
    width: 75%;
    margin: 2rem auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-box {
    padding: 2rem;
    width: 65%;
    background-color: white;
    border-radius: 1rem;
}

.main-heading {
    margin: 0 0;
    font-size: 2.5rem;
}

.page-heading {
    margin: 0 0;
    font-size: 2rem;
}


.article-content{
    margin: 3rem 0;
}

.content-list-box {
    margin: 1rem 0;
    padding: 0 2rem;
    border-top: 0.3rem solid #469bd1;
    border-bottom: 0.1rem solid #469bd1;
    border-left: 0.1rem solid #469bd1;
    border-right: 0.1rem solid #469bd1;
    border-radius: 10px;
}

.content-list-box > h2 {
    margin: 1rem 0;
}

.index-p {
    margin: 1rem 0;
}

.index-list, .subtopic-ul {
    margin: 1rem 3rem;
}

.chapter-list-p {
    margin: 3rem 0;
}

.chapter-list-ul {
    margin: 1rem 1rem 3rem;
    line-height: 1.2;
}

.chapter-list-ul > li, .index-list > li, .subtopic-ul > li {
    padding: 0.5rem 0;
}

.content-list-box > ul > li > a {
    color: #469bd1;
}

.content-list-box > ul > li > a:hover {
    text-decoration: underline;
}

.exercise-list {
    list-style: square;
    margin: 1rem;
}

.exercise-list > li {
    padding: 0;
}

.solution-page-p {
    margin: 2rem 0;
}

.answer {
    margin: 0 -1rem;
    width: 100%;
}

.solution-heading {
    font-weight: 1000;
    color: #006000;
    display: block;
    font-size: 1.1rem;
}

/* Aside Box */

.aside-box {
    width: 25%;
    height: fit-content;
    font-size: 1rem;
}

.aside-list > ul {
    list-style: none;
}

.aside-list > ul > li {
    padding: 5px 0;
    border-bottom: 0.1rem solid black;
}

.aside-list > ul > li > a {
    font-weight: bolder;
}

.aside-widgit {
    width: 100%;
    margin: 2rem 0 1rem;
}

.question {
    margin: 0.5rem;
}

/* Footer */

.footer-main {
    width: 100%;
    margin: 4rem auto 0;
    padding: 1rem 0;
    background-color: black;
    color: blanchedalmond;
}

.footer-row {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.footer-row > div > ul {
    list-style: none;
}

.footer-row > div > ul > li > a:visited,
.footer-row > div > ul > li > a {
    color: white;
}

.footer-row > div > h3 {
    color: rgb(243, 195, 123);
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: x-large;
}

.footer-column {
    margin: 0 1rem;
}

.top {
    width: 2rem;
    display: block;
    margin: 1rem auto 0;
}
